body {
   background-color: powderblue;
   font-family: "Helvetica"
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

h1 {
   color: black;
}

p {
   color: black;
}

.book {
   background-color: tomato;
   color: white; 
   padding: 20px;
   border-radius: 25px;
   width: 110px;
   text-align: center
   font-family: "Times New Roman"
}

#novel {
   background-color: lightblue;
   color: black;
   padding: 40px;
   text-align: center;
   font-size:160%;
}

#shogun {
   border-style: dotted dashed solid double;
}

#norWood {
   border-style: ridge;
}

img {
  opacity: 0.8;
}

ul {
   float: right;
   position: fixed;
   right: 50px;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 150px;
   border-radius: 25px;
   background-image: linear-gradient(red, yellow);
}

li {
   float: right;
   border-right: 1px solid #bbb
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change the link color to #111 (black) on hover and the color */
li a:hover {
   background-image: linear-gradient(red, yellow);
   color: black;
}

input[type=text] {
   width: 25%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}